.consola {
    position: absolute;
    justify-content: center;
    background-color: rgb(241, 122, 3);
    width: 40em;
    height: 60em;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 4px 4px 10px 6px;


}

.boton-encendido {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    width: 4em;
    height: 4em;
    top: 65em;
    left: 3.5em;
}

.letra-boton-on {
    color: rgb(249, 5, 5);
    font-size: 1.5em;
}

.titulo-encendido {
    position: absolute;
    top: 66em;
    left: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.boton-encendido:active {
    width: 3.8em;
    height: 3.8em;
}

.boton-apagado {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    width: 4em;
    height: 4em;
    top: 65em;
    left: 8em;
}

.letra-boton-off {
    color: rgb(254, 254, 254);
    font-size: 1.5em;
}

.boton-apagado:active {
    width: 3.8em;
    height: 3.8em;
}

.titulo-volumen {
    position: absolute;
    transform: rotate(-90deg);
    top: 11.4em;
    left: 43.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.boton-subir-volumen {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    width: 2.5em;
    height: 2.5em;
    top: 8em;
    left: 45em;
}

.boton-bajar-volumen {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    width: 2.5em;
    height: 2.5em;
    top: 12em;
    left: 45em;
}

.letra-boton-volumen {
    color: rgb(254, 254, 254);
    font-size: 1.5em;
}

.boton-subir-volumen:active {
    width: 2.3em;
    height: 2.3em;
}

.led {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    top: 12em;
    left: 7em;
}

.titulo-led {
    position: absolute;
    top: 20.5em;
    left: 9em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
}

.screen1 {
    position: absolute;
    background-color: rgb(178, 180, 177);
    width: 30em;
    height: 20em;
    top: 3em;
    left: 5em;
    border-radius: 15px;
    box-shadow: -2px -2px 2px 2px;

}

.screen2 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 22em;
    height: 15em;
    top: 5.5em;
    left: 10em;
    border-radius: 15px;

}

.pantalla-juego {
    position: absolute;
    top: 5.5em;
    left: 10em;



}
.texto {
    position: absolute;
    top: 10em;
    left: 8em;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
   
}


.pantalla-juego img {
    width: 22em;
    height: 15em;
    border-radius: 15px;
    animation: fadeOut 1s ease;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

}

.logo-consola {
    position: absolute;
    top: 18em;
    left: 12em;


}


.logo-consola img {

    width: 15em;
}

.cruz-horizontal {
    position: absolute;
    width: 3em;
    height: 9em;
    background-color: black;
    top: 28em;
    left: 8em;
    border-radius: 6px;
}

.cruz-vertical {
    position: absolute;
    width: 9em;
    height: 3em;
    background-color: black;
    top: 31em;
    left: 5em;
    border-radius: 6px;
}

.flecha-arriba {
    position: absolute;
    background-color: rgb(74, 75, 75);
    top: 34em;
    left: 9.95em;
    width: 3em;
    height: 3em;
}

.flecha-abajo {
    position: absolute;
    background-color: rgb(74, 75, 75);
    top: 41em;
    left: 9.95em;
    width: 3em;
    height: 3em;
}

.flecha-izquierda {
    position: absolute;
    background-color: rgb(74, 75, 75);
    top: 37.5em;
    left: 13.5em;
    width: 3em;
    height: 3em;
}

.flecha-derecha {
    position: absolute;
    background-color: rgb(74, 75, 75);
    top: 37.5em;
    left: 6.4em;
    width: 3em;
    height: 3em;
}


.fondo-boton {
    position: absolute;
    background-color: rgb(49, 49, 49);
    width: 5em;
    height: 14em;
    border-radius: 30px;
    top: 26em;
    left: 27em;
    transform: rotate(45deg);


}

.boton-uno {
    position: absolute;
    background-color: red;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    top: 39.8em;
    left: 31em;
    box-shadow: 2px 2px 2px black;
}

.boton-uno:active {
    width: 3.6em;
    height: 3.6em;
}

.letra-boton-a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0.1em;
    font-size: 2em;

}

.boton-dos {
    position: absolute;
    background-color: red;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    top: 35em;
    left: 36em;
    box-shadow: 2px 2px 2px black;
}

.boton-dos:active {
    width: 3.6em;
    height: 3.6em;
}

.letra-boton-b {
    color: rgb(9, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0.1em;
    font-size: 2em;
    text-shadow: -1.5px -1.5px 1px black;
}
.boton-start{
    position: relative;
    top: 50em;
    left: 18em;
    background-color: black;
    border-radius: 12px;
}
.letra-boton-start {
    position: relative;
    top: 2em;
    font-weight: bold;
}
.boton-select{
    position: relative;
    top: 50em;
    left: 21em;
    background-color: black;
    border-radius: 12px;
}
.letra-boton-select {
    position: relative;
    top: 2em;
    font-weight: bold;
}